@import url('./header.css');
@import url('./inicio.css');
@import url('./ipad.css');
@import url('./mountain.css');
@import url('./subscribe.css');
@import url('./footer.css');

@media(max-width: 600px){
    :root {
        font: 10px 'Nunito', sans-serif;
    }
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Nunito;
    /* border: red dashed 1px; */

    
}

body {
    background-image: url('../assets/bg-masthead.jpg');
    background-color: grey;
    height: 34.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}