.mountain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 33em; */
    text-align: center;
    color: #cdcdcd;
    font-size: 0.9em;
    background-color: white;
    padding: 10em 0 10em 0;
}

.mountain .mountain-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mountain .mountain-container .shoreline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.mountain .mountain-container .shoreline-text {
    text-align: left;
    border-left: 0.3em solid #64a19d;
    font-size: 1.4em;
}

.mountain .mountain-container .shoreline-text .title-shoreline {
    padding-left: 1em;
    font-size: 1em;
    color: black;
}

.mountain .mountain-container .shoreline-text .text-box {
    padding-left: 1.4em;
    font-size: 0.6em;
}


.mountain .mountain-container .shoreline img {
    width: 100%;
}

.mountain .mountain-container .misty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 2em;
}

.mountain .mountain-container .misty .misty-line {
    display: flex;
    background-color: black;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3em;

}

/* .mountain .mountain-container .misty .misty-line .img-misty {
} */

.mountain .mountain-container .misty .misty-line .text-misty {
    width: 50%;
}

.mountain .mountain-container .misty .misty-line .text-misty .title-misty {
    padding-left: 0.9em;
    font-size: 1em;
    color: white;
    text-align: left;
    width: 50%;
}

.mountain .mountain-container .misty .misty-line .text-misty .text-box-misty {
    padding: 1.9em;
    font-size: 0.7em;
}

.linha-base-misty {
    border-bottom: 0.3em solid #64a19d;
    width: 50%;
    margin-left: 1.2em;
}

.linha-base-mountains {
    border-bottom: 0.3em solid #64a19d;
    width: 50%;
    margin-right: 1.2em;
    align-self: flex-end;
}

.mountain .mountain-container .misty .misty-line .text-mountains .title-misty {
    padding-right: 1em;
    font-size: 1em;
    color: white;
    align-self: flex-end;
    width: 50%;
}

.mountain .mountain-container .misty .misty-line .text-mountains .text-box-misty {
    padding: 2em;
    font-size: 0.6em;
}

.mountain .mountain-container .misty .misty-line .text-mountains {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    text-align: right;
}

.mountain .mountain-container .misty .misty-line img {
    width: 50%;
}
